; SOF(Abbreviations for uemacs)


; LaTeX like German Umlauts as HTML escapes (the `"' needs to be escaped
; by `~'):
add-abbrev "~"a"    "&auml;"
add-abbrev "~"o"    "&ouml;"
add-abbrev "~"u"    "&uuml;"
add-abbrev "~"A"    "&Auml;"
add-abbrev "~"O"    "&Ouml;"
add-abbrev "~"U"    "&Uuml;"
add-abbrev "~"s"    "&szlig;"

; German Umlauts as LATIN1 (`~xUV': Character with code 0xUV):
add-abbrev "'a"    "~xe4"
add-abbrev "'o"    "~xf6"
add-abbrev "'u"    "~xfc"
add-abbrev "'A"    "~xc4"
add-abbrev "'O"    "~xd6"
add-abbrev "'U"    "~xdc"
add-abbrev "'s"    "~xdf"

; German Umlauts as UTF8 (`~xUV': Character with code 0xUV):
add-abbrev "''a"    "~xc3~xa4"
add-abbrev "''o"    "~xc3~xb6"
add-abbrev "''u"    "~xc3~xbc"
add-abbrev "''A"    "~xc3~x84"
add-abbrev "''O"    "~xc3~x96"
add-abbrev "''U"    "~xc3~x9c"
add-abbrev "''s"    "~xc3~x9f"



; EOF(Abbreviations for uemacs)
